@font-face {
  font-family: masterfont;
  src: url(../font/iransansz-webfont.eot) ;
  src: url('../font/iransansz-webfont.woff'), url('../font/iransansz-webfont.ttf');
}

@font-face {
  font-family: big-font;
  src: url('../font/byekan.eot');
  src: url('../font/byekan.woff'), url('../font/byekan.ttf');
}

.titr, .ui-tabs-anchor, h1, h2, h3, h4, h5, h6, .title {
  font-family: big-font !important;
}

body, input, textarea, button, select {
  margin: 0;
  padding: 0;
  background: #e9ecef;
  //background: url("../img/grey-tex.png") repeat scroll left top transparent;
  font-family: masterfont !important;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

li, ul, ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: #3784d3;
  text-decoration: none;
}

a:active, a:visited, a:hover {
  //  color: inherit;
  cursor: pointer;
  //outline: medium none;
  text-decoration: none;
}

input, textarea, select {
  border: 1px solid #dfe4e8;
  overflow: hidden;
  border-radius: 2px;
  background: #f4f5f7;
  //  box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  padding: 3px;
  outline: 0;
  resize: none;
  -moz-transition-property: background, border, box-shadow;
  -moz-transition-duration: .5s;
  -webkit-transition-property: background, border, box-shadow;
  -webkit-transition-duration: .5s;
  transition-property: background, border, box-shadow;
  transition-duration: .5s;
  font-size: 13px;
}