* {
  //outline: red thin dashed;
}

div.nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  background: #265799;
  height: 45px !important;
  border-top: 3px #164A80solid;
  .contentNav {
    margin: 0 auto;
    width: 920px;
    .nearSide, {
      float: right;

      ul.nav li {
        &.logo-box {
          border: none;
          width: 75px;
          cursor: default;
        }
        //        background-color: #164A80;
        border-left: 1px solid #1b518b;
        border-right: 1px solid #1b518b;
        position: relative;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        float: right;
        height: 43px;
        &.active {
          background: #164A80;
          border-right: #3b73b2 1px solid;
          border-left: #3b73b2 1px solid;
        }

        a {
          display: block;
          position: relative;
          padding: 0;
          width: 51px;
          height: 45px;
          background: url(../img/sprite-topbar.png) no-repeat;
        }

        &.home a {
          background-position: 13px 10px;
          &:hover {
            background-position: -89px 10px;
          }
        }
        &.library a {
          background-position: 16px -92px;
          &:hover {
            background-position: -89px -92px;
          }
        }
        &.calendar a {
          background-position: 13px -56px;
          &:hover {
            background-position: -89px -56px;
          }
        }

        &.notification {
          background-position: 14px -134px;
          background-image: url("../img/sprite-topbar.png");
        }

      }
      .topnavSearch {
        background: none repeat scroll 0 0 #f4f5f7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 513px;
        height: 22px;
        overflow: atuo;
        margin: 7px;
        input {
          display: inline-block;
          width: 91%;
          height: 100%;
          padding: 0 5px;
          margin: 0;
          border: none;
          background: transparent;
        }
        button {
          border: none;
          background: transparent;
          color: #bec5ae;
        }
      }

    }
    .farSide {
      float: left;
      > li {
        display: inline-block;
        margin: 0 5px;
        > a {
          line-height: 43px;
          color: white;
          font-weight: bold;
        }
      }
      img.miniProfile {
        height: 30px;
        width: 30px;
        vertical-align: middle;
      }
      .logoutMenu {
        display: none;
      }
    }
  }

}

footer {
  text-align: center;
  font-size: 11px;
}

.container {
  //background: white;;
  overflow: auto;
  margin: 20px auto;
  width: 920px;
  > div {
    //    min-height: 300px;
  }
  > .center {
    //width: 580px;
    overflow: auto;
    //margin: 30px 0;
    padding-right: 20px;
  }
  > .near {
    float: right;
    width: 220px;
    display: table-cell;
    margin-right: 1px;
    overflow: hidden;
    //padding: 20px 11px 20px 13px;
    vertical-align: top;
  }
  > .far {
    float: left;
    width: 140px;
    display: table-cell;
    margin-left: 2px;
    //padding: 20px 10px 20px 15px;
    vertical-align: top;
    width: 175px;
  }
}
