ul.plain {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.float-far {
  float: left;
}

.float-near {
  float: right;
}

/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'masterfont';
  font-style: normal;
  font-weight: 400;
  src: url(../font/DroidNaskh-Regular.eot);
  src: url(../font/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'), url(../font/DroidNaskh-Regular.woff2) format('woff2'), url(../font/DroidNaskh-Regular.woff) format('woff'), url(../font/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'masterfont';
  font-style: normal;
  font-weight: 700;
  src: url(../font/DroidNaskh-Bold.eot);
  src: url(../font/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'), url(../font/DroidNaskh-Bold.woff2) format('woff2'), url(../font/DroidNaskh-Bold.woff) format('woff'), url(../font/DroidNaskh-Bold.ttf) format('truetype');
}

.titr, .ui-tabs-anchor, h1, h2, h3, h4, h5, h6, .title {
  font-family: masterfont !important;
}

body, input, textarea, button, select {
  font-family: masterfont !important;
  font-size: 12px;
}

body > .top-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  background: rgba(0, 0, 0, 0.88);
  height: 30px !important;
  line-height: 30px;
  color: #ffffff;
  margin: 0 auto;
  .link-bar {
    width: 920px;
    margin: 0 auto;

  }
}

footer {
  font-size: 11px;
  text-align: center;
}