@mixin line-height($height) {
  height: $height;
  line-height: $height - 2;
}

$pw: 920px;
$a: #3333FF;
$b: #2a7a78;
$c: #fff;
$d: #ccee00;
$e: #74c7b9;
$z: white;
$solid: thin solid $a;
$padding: 30px;

// Bootstrap alerts

.program-actions{
  clear: both;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  &.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  &.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.busy-box {
  position: fixed;
  bottom:20px;
  right: 20px;
  opacity: .85;
  margin-bottom: 0;
}

.date {
  direction: ltr;
  unicode-bidi: embed;
}

textarea, input, select {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

a, :visited, :hover, :link, :active, button {
  text-decoration: none;
  color: inherit;
}

ul.plain {
  margin: 0;
  padding: 0;
  li {
    transition-duration: .5s;
    white-space: nowrap;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 8px;
    &:hover {
      background: $b;
      transition-duration: 1s;
    }
  }
}

.float-far {
  float: left;
}

.float-near {
  float: right;
}

/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'masterfont';
  font-style: normal;
  font-weight: 400;
  src: url(../font/DroidNaskh-Regular.eot);
  src: url(../font/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'), url(../font/DroidNaskh-Regular.woff2) format('woff2'), url(../font/DroidNaskh-Regular.woff) format('woff'), url(../font/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'masterfont';
  font-style: normal;
  font-weight: 700;
  src: url(../font/DroidNaskh-Bold.eot);
  src: url(../font/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'), url(../font/DroidNaskh-Bold.woff2) format('woff2'), url(../font/DroidNaskh-Bold.woff) format('woff'), url(../font/DroidNaskh-Bold.ttf) format('truetype');
}

.titr, .ui-tabs-anchor, h1, h2, h3, h4, h5, h6, .title {
  font-family: masterfont !important;
}

body, input, textarea, button, select {
  font-family: masterfont !important;
  font-size: 12px;
}

body {
  background: url("../../03.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

body .top-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  background: rgba(0, 0, 0, 0.88);
  height: 30px !important;
  line-height: 30px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 15px;
  .link-bar {
    width: $pw;
    margin: 0 auto;
  }
}

footer p {
  font-size: 11px;
  text-align: center;
  width: 100%;
}

#main-container-region {
  margin: 0 auto;
  width: $pw;

}

.component {
  margin-bottom: 15px;
  border: solid thin $a;
  overflow: auto;
  .header {
    opacity: .9;
    background: $a;
    color: $z;
    padding: 10px;
    font-weight: bold;
  }
  .body {
    background: $c;
    overflow: auto;
    //    opacity: 0.95;
    padding: $padding;
    > .name {
      text-align: center;
      font-weight: bold;
      font-size: larger;
    }

    .buttons {
      //      text-align: left;
    }
  }

  &.post-container {
    .buttons {
      text-align: left;
    }
    .poster {
      margin-left: 30px;
      display: block;
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
      height: 200px;
      float: right;
    }
    .details {
    }

  }
  .info table {
    margin: 30px;
    border-top: $solid;
    padding: 5px;
    tr td.name {
      font-weight: bold;
      min-width: 80px;
    }
    td.group {
      border-bottom: $solid;
      border-top: $solid;
      text-align: center;
      font-weight: bold;

    }
    tr.buttons td {
      text-align: center;
      padding-top: 30px;
      .button {

      }
    }
  }
}

button, .button {
  display: inline-block;
  border: none;
  padding: 0 15px;
  background-color: $a;
  color: $z !important;
  cursor: pointer;
  @include line-height(30px);
}

p {
  text-indent: 20px;
  text-align: justify;
}

form.main-style {
  .error-box {
    background: darkred;
    color: white;
    font-size: smaller;
    display: inline-block;
    padding: 5px 10px;
    &.form-error-box {
      font-size: medium;
    }
  }
  div {
    margin: 5px 5px;
    label {
      display: inline-block;
      min-width: 200px;
      text-align: left;
      margin-left: 5px;
    }
  }
}

.posts-container {
  .filters {
    background: $e;
    padding: $padding;
    .filter-main-entity {
      text-align: center;
      input[type=radio] {
        display: none;
      }
      label {
        display: inline-block;
        margin-right: 4px;
        background: $c;
        padding: 10px;
        cursor: pointer;
      }
      input[type=radio]:checked + label {
        background: $d;
        cursor: default;
      }
    }
    .filter-options {
      margin-top: 5px;
      margin-right: 10px;
      float: right;
      label {
        display: block;
      }
      input, select {
        display: inline-block;
        width: 200px;
        height: 40px;
        padding: 8px;
        line-height: 40px;
      }
      input[type=text] {
        width: 259px;
      }
      button {
        height: 40px;
      }
    }
  }
  .post-models {

  }
}

